@import url('https://fonts.bunny.net/css?family=exo-2:400,500,600,700,800');
@import url('https://cdn.jsdelivr.net/npm/water.css@2/out/water.css');
body{
    font-family: 'Exo 2', -apple-system, blinkmacsystemfont, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.version{
    color: var(--text-main);
    transition: all 150ms;
}
.version:hover{
    color : dodgerblue;
    text-decoration: none;
    font-size: larger;
}
.version:hover::after{
    content: " <--";
}
blockquote{
    font-style: normal !important;
}