@import url('../../fonts/fonts.css');
*{
    font-family: 'Quicksand', sans-serif;
    color: azure;
    text-decoration: none;
}
body{
background-color: darkslateblue;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
.avatar{
    position: absolute;
    top: 10%;
    left: 4%;
}
html{
    scroll-behavior: smooth;
}
.mobbar{
    display: none;
}
.navbar{
    position: relative;
    background-color: #2b2929;
    border-radius: 100px;
    padding: 7px;
}
.brand-logo{
    border-radius: 100px;
}
.brand-text{
    position: absolute;
    font-size: large;
    top: 35%;
    left: 4.5%;
}
.downloads{
    position: absolute; 
    top: 39%;
    left: 10.5%;
    font-size:medium;
}
.downloads:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.downloads:not(hover){
    color: azure;
    transition: all 150ms;
}
.devices{
    position: absolute;
    top: 39%;
    left: 18.5%;
    font-size: medium; 
    color: #be6ffb;
}
.music{
    position: absolute;
    top: 39%;
    left: 25.5%;
    font-size: medium; 
}
.music:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.music:not(hover){
    color: azure;
    transition: all 150ms;
}
.cherry{
    content: "";
    position: absolute;
    height: 450px;
    width: 450px;
    background-color: #2b2929;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;
    left: 10%;
    top: 122px;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.realname{
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: larger;
}
.codename{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: large;
}
.OS{
    position: absolute;
    top: 55%;
    left: 25%;
    font-size: medium;
}
.specs{
    position: absolute;
    top: 65%;
    left: 25%;
    font-size: medium;
}
.specs-link{
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: medium;
}
.link{
    position: inherit;
    color: dodgerblue;
}
.pc-laptop{
    position: absolute;
    top:1%;
    left: 23%;
}
.phone{
    position: absolute;
    top:10%;
    left: 15%;
}
.kirita{
    content: "";
    position: absolute;
    height: 450px;
    width: 450px;
    background-color: #2b2929;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;
    left: 50%;
    top: 122px;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.realname-phone{
    position: absolute;
    top: 35%;
    left: 30%;
    font-size: larger;
}
.codename-phone{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: large;
}
.OS-phone{
    position: absolute;
    top: 55%;
    left: 35%;
    font-size: medium;
}
.specs-phone{
    position: absolute;
    top: 65%;
    left: 25%;
    font-size: medium;
}
.phoenix{
    content: "";
    position: absolute;
    height: 450px;
    width: 450px;
    background-color: #2b2929;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;
    left: 10%;
    top: 650px;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.tablet{
    position: absolute;
    left: 30%;
}
.realname-tablet{
    position: absolute;
    top: 35%;
    left: 30%;
    font-size: larger;
}
.codename-tablet{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: large;
}
.OS-tablet{
    position: absolute;
    top: 55%;
    left: 15%;
    width: fit-content;
    font-size: medium;
}
.specs-tablet{
    position: absolute;
    top: 65%;
    left: 30%;
    font-size: medium;
}
.specslink-tablet{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: 20px;
    width: fit-content;
    font-size: medium;
}
.coso{
    content: "";
    position: absolute;
    height: 450px;
    width: 450px;
    background-color: #2b2929;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;
    left: 50%;
    top: 650px;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.realname-coso{
    position: absolute;
    top: 37%;
    left: 35%;
    font-size: larger;
}
.coso-img{
    position: absolute;
    top: 5%;
    left: 30%;
}
.codename-coso{
    position: absolute;
    top: 45%;
    left: 29.5%;
    font-size: larger;
}
.OS-coso{
    position: absolute;
    top: 55%;
    left: 24%;
    font-size: larger;
}
.specs-coso{
    position: absolute;
    top: 65%;
    left: 25%;
    font-size: medium;
}
.specslink-coso{
    position: absolute;
    top: 65%;
    left: 46%;
    margin-left: 20px;
    width: fit-content;
    font-size: medium;
}
.mobbar{
    display: none;
}
@media only screen and (max-width:600px){
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
    .avatar{
        top: 5%;
        transform: scale(0.87);
    }
    .downloads{
        display: none;
    }
    .devices{
        display: none;
    }
    .music{
        display: none;
    }
    .brand-text{
        display: none;
    }
    .navbar{
        display: none;
    }
    .brand-logo{
        display: none;
    }
    .mobbar{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 7%;
        z-index: 33;
    }
    .mobbar.open{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 100%;
        z-index: 33;
    }
    .mobmenu{
        position: absolute;
        left: 40%;
        color: azure;
        text-align: center;
        font-size: xx-large;
        padding: 5px;
        transition: all 150ms;
        border-radius: 15px;
    }
    .moblink{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .moblink.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 10%;
        left: 40%;
    }
    .downnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .downnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 15%;
        left: 35%;
    }
    .devnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .devnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 20%;
        left: 38%;
    }
    .musicnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .musicnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 25%;
        left: 40%;
    }
    .cherry{
        position: absolute;
        left: -9%;
    }
    .kirita{
        position: absolute;
        top: 90%;
        left: -9%;
    }
    .phoenix{
        position: absolute;
        top: 160%;
        left: -9%;
    }
    .coso{
        position: absolute;
        top: 230%;
        left: -9%;
    }
}
@media only screen and (min-width:701px) and (max-width:1200px) and (max-height:1200px) and (min-height:750px){
    ::-webkit-scrollbar {
        width: 20px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
      }
    .avatar{
        top: 5%;
        transform: scale(0.87);
    }
    .downloads{
        display: none;
    }
    .devices{
        display: none;
    }
    .music{
        display: none;
    }
    .brand-text{
        display: none;
    }
    .navbar{
        display: none;
    }
    .brand-logo{
        display: none;
    }
    .mobbar{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 5%;
        z-index: 33;
    }
    .mobbar.open{
        transition: all 150ms;
        display: inline;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2b2929;
        width: 100%;
        height: 100%;
        z-index: 33;
    }
    .mobmenu{
        position: absolute;
        left: 40%;
        color: azure;
        text-align: center;
        font-size: xx-large;
        padding: 5px;
        transition: all 150ms;
        border-radius: 15px;
    }
    .moblink{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .moblink.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 10%;
        left: 40%;
    }
    .downnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .downnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 20%;
        left: 38%;
    }
    .devnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .devnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 30%;
        left: 39.5%;
    }
    .musicnw{
        visibility: hidden;
        display: none;
        transition: all 150ms;
    }
    .musicnw.show{
        visibility: visible;
        position: absolute;
        transition: all 150ms;
        color: azure;
        display: inline;
        z-index: 33;
        top: 40%;
        left: 40.5%;
    }
    .cherry{
        position: absolute;
        left: 20%;
    }
    .kirita{
        position: absolute;
        top: 90%;
        left: 20%;
    }
    .phoenix{
        position: absolute;
        top: 160%;
        left: 20%;
    }
    .coso{
        position: absolute;
        top: 230%;
        left: 20%;     
}
}